<header class="header">
  <div class="header-content">
    <div class="logo">
      <h1 class="logo-text" routerLink="/">danze</h1>

    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/classes" class="nav-link">CLASES</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">CONTACTO</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="mobile-menu" [class.active]="isMobileMenuOpen">
    <ul class="mobile-nav-list">
      <li><a routerLink="/clases" class="mobile-nav-link">CLASES</a></li>
      <li><a href="#" class="mobile-nav-link">CURSOS</a></li>
      <li><a href="#" class="mobile-nav-link">CARRERA</a></li>
      <li><a href="#" class="mobile-nav-link">ALQUILERES</a></li>
      <li><a href="#" class="mobile-nav-link">AGENCIA</a></li>
      <li><a href="#" class="mobile-nav-link">CONTACTO</a></li>
    </ul>
  </div>

  <div class="header-blur"></div>
</header>